@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:regular,bold,italic&subset=latin,latin-ext');

/* Cards */
.Card-img {
  max-width: 100%;
  object-fit: cover;
  min-height: 225px;
}
.Portfolio-card > p {
  font-family: Roboto;
  text-align: left;
  margin: 0;
}
.School {
  font-weight: bold;
  padding-top: 0.5rem;
}
.Name {
  padding-top: 0.25rem;
  color: rgb(83, 82, 82);
}
.Year {
  padding-top: 0.25rem;
  padding-left: 0.5rem;
  color: black;
}

/* Nav  */
.Nav {
  text-align: left;
  padding: 0.75rem 1.25rem 0.75rem 1.25rem;
  border-bottom: 1px solid black;
}

.Nav > h2 {
  display: inline;
}

.Nav > button {
  float: right;
  padding: 0.4rem 1.5rem;
  margin-left: 1.25rem;
  margin-bottom: 1rem;
  border-radius: 1.5rem;
  border: 0px;
  color: white;
  background-color: #c4c4c4;
  font-weight: 600;
  font-size: 1rem;
}
.Nav > button.Active,
button:hover {
  color: white;
  background-color: black;
}

/* Search  */
.Search {
  border: 1px solid #c4c4c4;
  box-sizing: border-box;
  border-radius: 1.5rem;
  margin: 1.25rem;
  display: grid;
  grid-template-columns: 77% 23%;
  grid-gap: 1.25rem;
  background: none;
}

.Icon {
  padding: 0.5rem 1.25rem 0.5rem 1.25rem;
  position: absolute;
  color: #c4c4c4;
  size: 2rem;
}

.Search > input {
  border: 0px;
  margin-left: 3rem;
  height: 3rem;
  width: 100%;
  padding: 0;
  font-size: 1rem;
}

input:focus {
  outline: none;
}

.SearchItemBox {
  border-left: 1px solid #c4c4c4;
  padding-right: 3rem;
  padding-left: 1.5rem;
  display: flex;
  justify-content: space-around;
}

.SearchItemBox > button {
  margin: 0.5rem;
  padding: 0 1.25rem;
  border-radius: 1.5rem;
  border: 0px;
  color: white;
  background-color: #c4c4c4;
  font-weight: 600;
  font-size: 0.95rem;
}

.SearchItemBox > button.isActive,
button:hover {
  color: white;
  background-color: black;
}

.SearchItemBox > button.inActive {
  color: white;
  background-color: #c4c4c4;
}

.Like-icon {
  float: right;
}
